In [1]:
#1
print('hello world')

hello world

In [2]:
#2
a=12
b=898
print(a+b)

910

In [3]:
#4
a=2
b=3
c=4
s=(a+b+c)/2
print(((s-a)*(s-b)*(s-c))**0.5)

1.3693063937629153

In [4]:
#5
a=int(input('enter a coeffecient '))
b=int(input('enter b coeffecient '))
c=int(input('enter c coeffecient '))
print(((-b+(b*b-4*a*c)**0.5)/2*a))
print(((-b-(b*b-4*a*c)**0.5)/2*a))

enter a coeffecient fsdsd

ValueError: invalid literal for int() with base 10: 'fsdsd'

In [ ]:
# 6
a=int(input('enter '))
b=int(input('enter '))
print('before {} and {}'.format(a,b))
c=a
a=b
b=c
print('after {} and {}'.format(a,b))

In [ ]:
#7
import random
print(random.randint(0,100))

In [ ]:
#8
a=float(input('enter num '))
print(a*0.621371)

In [ ]:
#9
a=int(input('enter '))
print((a*9/5)+32)

In [ ]:
#10
a=int(input('enter '))
if a>0:
    print('psitive')
elif a==0:
    print('zero')
else:
    print('negative')

In [ ]:
#11
a=int(input('enter '))
if a%2==0:
    print('even')
else:
    print('odd')

In [ ]:
#12
a=int(input('enter '))
if a%4==0:
    print('leap year')
else:
        print('not')

In [ ]:
#13
a=int(input('enter '))
b=int(input('enter '))
c=int(input('enter '))
if a>=b and a>=c:
    print('{} is largest'.format(a))
elif b>=a and b>=c:
    print('{} is largest'.format(b))
else:
    print('{} is largest'.format(c))

In [ ]:
#14
a=int(input('enter '))
i=1
c=0
for i in range(1,a):
    if a%i==0:
        c=c+1
if c==1:
    print('prime')
else:
    print('not')

In [ ]:
#15
a=int(input('enter interval '))
num=2
i=2

for num in range(2, a+1):
     for i in range(2, num):
           if (num % i) == 0:
               break
     
     else:
            print(num)

In [ ]:
#16
a=int(input('enter interval '))
i=1
s=1
for i in range(1,a+1):
    s=s*i
    print("{}".format(i))
print(s)

In [ ]:
#17
a=int(input('enter '))
i=1

for i in range(1,11):
    print('{} x {} = {}'.format(a,i,a*i))

In [ ]:
#18
a=int(input('enter '))


i=0
for i in range(1,a+1):
   print(i-1,i+1)

In [ ]:
x=4
y=11
p=5.0
ans=x**(y%p)
print(ans)

In [ ]:
num=20.5
z=3
result=2+z*3+num//z

In [ ]:
print(result)

In [ ]:
x="50"
type(x)

In [ ]:
float(x)

In [ ]:
name='Lizz'
print(name[0:2])

In [ ]:
var = '01234567'
print(var[::2])

In [ ]:
'1'+'2'

In [ ]:
myvar = 'hello'
myvar.upper()

In [ ]:
A = ('a','b','c')
A[0]

In [ ]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict

In [ ]:
Dict["D"]

In [ ]:
B = [1,4,0,5]

B.sort()
B

In [ ]:
import numpy as np
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

In [ ]:
A='1234567'
A[1::2]

In [ ]:
Name="Michael Jackson" 
Name.find('el')

In [ ]:
tuple1=("A","B","C" )
tuple1[-1]

In [ ]:
 A=((11,12),[21,22])
A[0][1]

In [ ]:
 '1,2,3,4'.split(',')

In [ ]:
A=[1,'a']
B=[2,1,'d']
A+B

In [ ]:
a=set(A)

In [ ]:
a

In [ ]:
 V={'A','B'}
V.add('C')
V

In [ ]:
V={'A','B','C' }
V.add('C')
V

In [ ]:
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y

def print_point(self):
    print('x=',self.x,'y=',self.y)

In [ ]:
Points('abc','xyz')

In [ ]:
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y

    def print_point(self):
        print('x=',self.x,' y=',self.y)
    
p1=Points(1,2)
p1.print_point()

In [ ]:
Points('abc','xyz')

In [ ]:
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y

    def print_point(self):
        print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

In [ ]:
a = 9/2 
a

In [ ]:
b = 5.2/2
b

In [ ]:
import matplotlib.pyplot as plt
x=[1,2,3,4,5,6]
y=[6,7,8,9,10,11]
plt.plot(x, y, lw=2)

In [ ]:
import pandas as pd 
series = pd.Series(3,index=['a','b','c'])
series

In [ ]:
a=np.array([5,8,12,65])

In [ ]:
np.zeros((3,3))

In [ ]:
np.linspace(5,15,10).size

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                       'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])

f=[left, right]
r=pd.add(f)
r

In [ ]:
A: array([1, 2, 3]) 
B: array([1]), array ([2]), array ([3])

In [ ]:
a1 = [1, 3] 
b1 = a1 
a1[0] = 4 
print(b1)

In [ ]:
min(max(False,-3,-4), 2,7)

In [ ]:
 len(["hi",6, 9, 5])

In [6]:
import pandas as pd
  
# creating the DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3']})
display('df1:', df1)
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7']})
display('df2:', df2)
  
# concatenating
display('After concatenating:')
display(pd.concat([df1, df2], 
                 axis=0))

'df1:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

'df2:'

    A   B
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

'After concatenating:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

In [7]:
 import numpy as np 
percentiles = [98, 76.37, 55.55, 69, 88] 
first_subject = np.array(percentiles) 
print (first_subject.dtype)

float64